h2 {background-image: url(image/background.jpg);margin-left: auto;
  margin-right: auto; width:80%;color: #3D3D3D;border:2px outset #ff0000}
body {margin-left: auto;margin-right: auto; width:80%; background-color:#4D4D4D;color:#F0F0FF}
